# gitignore

/bash0
/bash2
/bash0-fix?
/bash2v?

/out
/fnmatch
/fnmatch.exe
/fnmatch.so
/strmatch.so
/strmatch_ex.so
/ab

/dfaglob.pdf

# valgrind output
# e.g.$ valgrind --log-file=mem.txt --leak-check=full ./bash0-fix3 --norc
/mem.txt